/target/
*.class

*.log



# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*/.idea/*
MultiModuleJavaAndGroovyProject.iml
*/target/*

/WebModule/.idea/*
/WebModule/WebModule.iml
/ServiceModule/ServiceModule.iml
/ServiceModule/.idea/*
